<h1>List of users</h1>

<section class="users">
    <%= render @users %>
</section> 


# <section class="users">
#   <ul>
#     <% @users.each do |user| %>
#       <li class="list-users">
#         <%= render "user", :user =>user %>
#       </li>
#     <% end %>
#   </ul>
# </section>

