<h1>Show the user details by ID</h1>

<section>
  <%= render @user %>
  <div class="bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <%= render @user.posts %>
  </div>
</section> 