<h1>Show the user details by ID</h1>

<section class="show-user">
  <%= render @user %>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <%= render @user.posts %>
  </div> 
  <div class="post-btn d-flex">
    <button>See All Posts</button>
  </div>
</section> 


