* {
  text-decoration: none;
}

nav.nav-bar {
  width: 100%;
  background-color: rgba(204, 204, 204, 0.534);
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 3rem 0 0;
}

.nav-bar .home-page {
  color: var(--text-color);
  font-size: 18px;
}

.nav-bar form {
  margin: 0;
  padding: 0;
}

.nav-bar .btn {
  margin: 0;
  padding: 5px 16px;
  border: 1rem;
}
