:root {
  --size-border: 2px solid #272727;
  --prmary-color: #f4f4f4;
}

.user {
  width: 100%;
  height: 80px;
  margin-bottom: 1rem;
}

.img-container {
  width: 27%;
  max-width: 100px;
  border: var(--size-border);
  margin-right: 1rem;
  /* height: 70px; */
}

img {
  width: 100%;
  height: 100%;
}

.details {
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
  flex: 1;
  border: var(--size-border);
  position: relative;
}

.details span {
  position: absolute;
  bottom: 0.5rem;
  right: 0.7rem;
}


.show-user .bio {
  padding: 0.7rem;  
  border: var(--size-border);
  background-color: var(--primary-color);
}

.bio p {
  margin: 0.5rem 0 1.8rem;
}

.show-user .posts{
 
}

.posts .posts-container {
  padding: 0.7rem 0.7rem 1rem;
  margin: 1rem 0;  
  border: var(--size-border);
  /* color: #272727; */
  background-color: var(--primary-color);
  position: relative;
}

.posts-container p {
  margin: 0.5rem 0;
}

.posts-container .actions {
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
}
.actions span:first-child{
  margin-right: 0.5rem;
}

.show-user .post-btn {
  width: 100%;
  justify-content: center;
}

.post-btn button {
  border: var(--size-border);
  border-width: 1px;
  padding: 0.4rem 1rem;
}
